<div class ='align-middle text-center'>
	<div class="card mt-5" style="height:200px">
	  <div class="card-body">
	    <h5 class="card-title"><%= params[:user].first_name %></h5>
	    <p class="card-title"><%= params[:user].last_name %></p>
	    <p class="card-text"><%= params[:user].description %></p>
	  </div>
	</div>
</div>