// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-hero {
  background-image: url("gossip_jumbo.jpg");
  background-size: cover;
  height: 600px;
}